{% include 'header.html' %}
{% block content %}
<div class= "movie">
  {% if form.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action="" method="post">{% csrf_token %}
<ul>
   <li> <label for="username">User name:</label>
    <input type="text" name="username" value="" id="username"></li>
<br/>
    <li><label for="password">Password:</label>
    <input type="password" name="password" value="" id="password"></li>
<br/>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
</ul>
  </form>
</div>

{% endblock %}
{% include 'footer.html' %}
